.user-details-container {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;

  .user-details-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $phone) {
      flex-direction: column;
      text-align: center;
    }

    img {
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      border: solid 3px;

      @media screen and (max-width: $phone) {
        width: 12.5rem;
        height: 12.5rem;
      }

      @media screen and (max-width: $phone-sm) {
        width: 10rem;
        height: 10rem;
      }
    }

    .user-personal-details {
      display: flex;
      flex-direction: column;
      padding-left: 3rem;
      font-size: 1.25rem;
      align-self: center;

      @media screen and (max-width: $phone) {
        padding-top: 1rem;
        padding-left: 0;
      }

      a {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-size: 1.25rem;
        padding-top: 1rem;
        font-weight: normal;
        transition: all 0.3s;

        i {
          display: unset;
          padding-right: 0.25rem;
          transform: scale(1);
          transition: all 0.3s;
        }

        &:hover {
          font-weight: bold;

          i {
            font-weight: normal;
            transform: scale(1.25);
          }
        }
      }
      
      span {
        padding-top: 0.25rem;

        &.name {
          font-weight: bold;
        }

        &.company {
          font-weight: lighter;
        }

        &.email {
          font-weight: lighter;
          color: rgb(201, 201, 201);
        }

        &.minor {
          font-size: 1rem;
        }
      }
    }
  }

  .user-repo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;
    justify-content: center;

    .repo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: solid 2px white;
      border-radius: 0.25rem;
      width: 25rem;
      height: 35rem;
      padding: 1rem;
      margin: 1rem;
      text-align: center;
      overflow-wrap: anywhere;
      overflow-y: auto;
      background-color: rgb(20, 20, 20);
      box-shadow: 0 3px 10px black;

      @media screen and (max-width: $phone) {
        width: 20rem;
        height: 30rem;
      }

      @media screen and (max-width: $phone-sm) {
        width: 15rem;
        height: 25rem;
      }

      @media screen and (max-width: $phone-fold) {
        width: 12.5rem;
        height: 25rem;
      }
      
      span {
        padding-bottom: 0.5rem;
      }

      a {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-size: 1.25rem;
        padding: 1rem 0 1rem;
        font-weight: normal;
        transition: all 0.3s;

        i {
          display: unset;
          padding-right: 0.25rem;
          transform: scale(1);
          transition: all 0.3s;
        }

        &:hover {
          font-weight: bold;

          i {
            font-weight: normal;
            transform: scale(1.25);
          }
        }
      }

      .repo-description {
        font-weight: lighter;
      }

      .repo-language {
        font-size: 0.9rem;
      }

      .language-ring {
        min-height: 5rem;
        width: 5rem;
        border: solid 3px white;
        border-radius: 50%;
        background-color: var(--languageColor);
        margin-bottom: 1rem;

        @media screen and (max-width: $phone) {
          width: 4rem;
          min-height: 4rem;
        }
  
        @media screen and (max-width: $phone-sm) {
          width: 3rem;
          min-height: 3rem;
        }

        @media screen and (max-width: $phone-fold) {
          width: 1rem;
          min-height: 1rem;
        }
      }

      .graph-title {
        padding-top: 1rem;
        font-weight: bold;
      }
    }
  }
}